.navbar {
  max-height: 50px;
  background-color: #cacccb;
}
.navigation .navbar-brand {
  color: rgb(52, 149, 165);
  margin-left: 0px;
  padding: inherit;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  font-family: cochin;
}
.navbar {
  background-color: rgb(255, 255, 255);
  font-size: 25px; 
}
.active, .dropdown-menu .dropdown-item:active a:hover {
  background-color: rgb(255,255,255);
}
.dropdown-item {
  color: rgba(52, 150, 165, 0.75);
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: rgba(52, 150, 165, 0.75);
}
